Repository akafael/ufpe-project-bsg, pull requests merged in 2023-10, with the labels that each got.

#106 Add script to run simulation on matlab using csv files as input
  models/.gitignore
  models/complete_model.slx
  models/data.csv
  models/values_script.m
Labels: model

#132 pre presentation adjustments - model, script, sheet
  models/complete_model.slx
  models/data.csv
  models/values_script.m
Labels: model

#131 Fix documentation at github page updated bug
  .github/workflows/gitpages.yml
Labels: documentation

#130 Add time collumn to CSV and fix duplicated names
  code/csvutils.c
  code/data/inputSignal.csv
  code/data/outputSignal.csv
  models/data.csv
  models/values_script.m
Labels: bug
